<div class="main-menu" [class.is-minimized]="isMinimized">
    <div class="main-menu-items">
        <a class="main-menu-item" [routerLink]="['/management']">
            <img src="https://via.placeholder.com/24" />
            <span>Dashboard</span>
        </a>
        <a class="main-menu-item" [routerLink]="['/management/walls']">
            <img src="https://via.placeholder.com/24" />
            <span>Walls</span>
        </a>

        <a class="main-menu-item">
            <img src="https://via.placeholder.com/24" />
            <span>Settings</span>
        </a>
    </div>

    <div class="main-menu-context">
        <span (click)="toggleMenuExpansion()">
            <span class="icon">
                <i class="fas" [ngClass]="isMinimized ? 'fa-arrow-alt-circle-right' : 'fa-arrow-alt-circle-left'"></i>
            </span>
            <span>{{ isMinimized ? "" : "Minimize" }}</span>
        </span>
    </div>
</div>