<p class="title">Sign in to RAMBLE</p>

<hr>

<form action="/authentication/login?returnUrl={{ returnUrl }}" method="POST">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email" name="Email" appAutofocus>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" name="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="is-clearfix">
    <label class="checkbox is-pulled-left">
      <input type="checkbox" name="RememberMe">
      Remember me
    </label>

    <div class="field is-pulled-right">
      <p class="control">
        <button class="button is-primary">
          Sign in
        </button>
      </p>
    </div>
  </div>
</form>

<a [routerLink]="['/management/anonymous/forgot-password']" class="forgot-password">Forgot password</a>