<p class="title">Forgot password</p>

<hr>

<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email" appAutofocus>
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </p>
</div>

<div class="is-clearfix">
  <a [routerLink]="['/management/anonymous/login']" class="to-login">To sign in</a>
  <div class="field is-pulled-right">
    <p class="control">
      <button class="button is-primary">
        Reset my password
      </button>
    </p>
  </div>
</div>