.management-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    line-height: normal;

    div {
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-align-items: stretch;
        align-items: stretch;
        height: calc(100% - 40px);
        position: relative;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 0;
    }
}