@page "/_authentication/forgotpassword"
@model Ramble.Web.Pages.Authentication.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password";
    Layout = "~/Pages/Authentication/_AuthenticationLayout.cshtml";
}

<p class="title">Forgot password</p>

<hr>

<form method="post" role="form">
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Email" appAutofocus>
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </p>
    </div>

    <div class="is-clearfix">
        <a asp-page="Signin" class="to-login">To sign in</a>
        <div class="field is-pulled-right">
            <p class="control">
                <button class="button is-primary" type="submit">
                    Reset my password
                </button>
            </p>
        </div>
    </div>
</form>