@page "/_authentication/resetpassword"
@model Ramble.Web.Pages.Authentication.ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Pages/Authentication/_AuthenticationLayout.cshtml";
}

<h1>ResetPassword</h1>

