@page "/_authentication/signout"
@model Ramble.Web.Pages.Authentication.SignoutModel
@{
    ViewData["Title"] = "Sign out";
    Layout = "~/Pages/Authentication/_AuthenticationLayout.cshtml";
}

<h1>Logout</h1>

