@page "/_authentication/signin"
@model Ramble.Web.Pages.Authentication.SigninModel
@{
    ViewData["Title"] = "Sign in";
    Layout = "_AuthenticationLayout";
}

<p class="title">Sign in to RAMBLE</p>

<hr>

@if (ViewContext.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>Error</strong>
        <div asp-validation-summary="All" class="danger"></div>
    </div>
}

<form asp-route-returnurl="@Model.ReturnUrl" method="post" role="form">
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input asp-for="Email" class="input" placeholder="Email" autofocus />
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input asp-for="Password" class="input" placeholder="Password" name="Password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <div class="is-clearfix">
        <label class="checkbox is-pulled-left" asp-for="RememberLogin">
            <input asp-for="RememberLogin">
            Remember me
        </label>

        <div class="field is-pulled-right">
            <p class="control">
                <button class="button is-primary" type="submit" name="button" value="login">
                    Sign in
                </button>
            </p>
        </div>
    </div>
</form>

<a asp-page="ForgotPassword" class="forgot-password">Forgot password</a>
